a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #fe8559;
    cursor: pointer;
    text-decoration: underline;
    font-size: 40px;
}

body{
    margin: 0px;
    font-family: 'Montserrat';
    background-image: url("../img/science.png");
}

footer{
   background-color: #ba4d4d;
   height: 80px;
   width: 100%;
   padding-top: 40px;
   position: relative;
}

h1{
    color: #ba4d4d;
}

p{
    font-weight: lighter;
    text-align: justify;
    line-height: 26px;
}

 .cabeza{
    margin-top: 0px;
    width: 100%;
    height: 250px;
 }

.centro{
   margin-left: 11%;
  margin-right: 13%;
}

.centrar{
    padding: 20px;
    width: 400px;
    height: 450px;
    margin-right: 130px;
    margin-top: 37px;
}

.color-naranja{
    color: #fe8559;
    font-size: 30px;
    margin: 0px;
}

.comentario{
   margin-left: 13%;
   margin-right: 13%;
   margin-bottom: 140px;
   margin-top: 30px;

}

.contenedor {
   overflow: hidden;
 }

.contenedor-cen{
    overflow: auto;
    background-color: white;
    margin-bottom: 0px;
    padding-top: 30px;
    padding-bottom: 30px;
 }

.contenedor-cuento{
    overflow: auto;
    background-color: white;
    margin-top: 84px;
    margin-bottom: 0px;
    padding-bottom: 30px;
    margin-left: 20%;
 }

.columna-der{
    text-align: left;
    padding: 50px;
    width: 60%;
}

.columna-iz{
    text-align: right;
    padding: 50px;
    margin-left: 120px;
}

.contenedor-gr{
    display: grid;
    grid-template-columns: auto auto;
    overflow: auto;
    background-color: white;
    margin-bottom: 0px;
    
 }

.cursiva{
    font-style: italic;
    margin-left: 18%;
    margin-right: 18%;
    color: gray;
    margin-bottom: 40px;
}

.h-centro{
    margin-left: 13%;
    text-align: left;
    margin-top: 50px;
}

.img-centro{
   margin-left: 19%;
   margin-right: 17%;
   width: 640px;
   height: 426px;
}

.img-cuento{
  margin-top: 0px;
  width: 100%;
  height: 420px;
}

.img-menu{
  height: 20px;
  margin-right: 10px;
}

.img-principal{
    height: 650px;
    width: 100%;
 }

.img-tarjeta-centro{
    margin-left: 25%;
 }

.img-tarjeta-iz{
    text-align: left;
}

.logo{
    margin: 27px 0px 0px 40px;
    width: 37px;
    height: 37px;
    float: left;
 }

 .menu-izquierdo{
  position: fixed;
  float: left;
  width: 20%;
  height: 100%;
  overflow: hidden;
  background-color: #f4f9fa;
  margin-top: 84px;
  box-shadow: 7px 5px 52px -4px rgba(0,0,0,0.53);
}

.menu-izquierdo ul{
  padding: 0px;
}
.menu-izquierdo li{
  padding: 23px 0px 23px 25px;
  width: 100%;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
}

 .menu-navegacion {
   background-color: #ba4d4d;
   height: 84px;
   position: fixed;
   top: 0px;
   left: 0px;
   width: 100%;
 }

 .menu-navegacion ul {
   list-style-type: none;
   text-align: right;
   padding-right: 25px;
 }
 .menu-navegacion ul li {
   display: inline-block;
   margin-top: 15px;
   padding-right: 15px;
 }

.menu-navegacion h1 {
   color: white;
   font-family: 'Montserrat';
   font-size: 30px;
   margin-top: 22px !important;
   margin-left: 6px;
   float: left;
 }

 .menu-navegacion h6{
    color: white;
   font-family: 'Montserrat';
   font-size: 9px;
   margin-top: 52px !important;
   margin-left: -62px;
   float: left;
 }

 .menu-navegacion ul li a {
   text-decoration: none;
   color: white;
   font-family: 'Montserrat';
   font-size: 13px;
   cursor: pointer;
 }


.menu-seleccionado{
  background-color: #fe8559;
  color: white;
}

.principal{
    margin-top: 0px;
    width: 100%;
    height: 420px;
    margin-bottom: 20%;
 }

.p-centro{
    text-align: justify;
    margin-left: 13%;
    margin-right: 13%;
    font-weight: lighter;
}

.p-margen-tarjeta{
    margin-right: 60px;
    margin-top: 40px;
}

.seleccionado{
    background-color: #fe8559;
    padding: 10px;
    border-radius: 4px;
}

.tarjeta{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    margin-bottom: 60px;
    box-shadow: -1px 7px 40px 6px rgba(0,0,0,0.49);
 }

 .tarjeta-der{
    float: right;
    text-align: left;
    width: 50%;
    margin-top: 50px;
 }

 .tarjeta-opinion{
    background-color: white;
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 60px;
    box-shadow: -1px 7px 40px 6px rgba(0,0,0,0.49);
    padding-top: 8px;
    padding-bottom: 8px;
 }

.text-footer{
  color: white;
  font-weight: lighter;
  margin: 0px;
  font-size: 15px;
  text-align: center;
}

.texto-centro{
    position: absolute;
    top: 62%;
    left: 24%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 50px;
    width: 100%;
    color: white;
}

.texto-centro2{
    position: absolute;
    top: 72%;
    left: 15%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 27px;
    font-weight: lighter;
    width: 100%;
    color: #fe8559;
 }